In [67]:
import pandas as pd

In [68]:
car = pd.read_csv('quikr_car.csv')
car.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [69]:
car.shape

(892, 6)

In [70]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

from "Car.info()"
we see that
1. year is object not number (need to fix)
1. price is object not number (need to fix)
2. kms_driven, fuel_type there is null values

In [71]:
car['year'].unique()

array(['2007', '2006', '2018', '2014', '2015', '2012', '2013', '2016',
       '2010', '2017', '2008', '2011', '2019', '2009', '2005', '2000',
       '...', '150k', 'TOUR', '2003', 'r 15', '2004', 'Zest', '/-Rs',
       'sale', '1995', 'ara)', '2002', 'SELL', '2001', 'tion', 'odel',
       '2 bs', 'arry', 'Eon', 'o...', 'ture', 'emi', 'car', 'able', 'no.',
       'd...', 'SALE', 'digo', 'sell', 'd Ex', 'n...', 'e...', 'D...',
       ', Ac', 'go .', 'k...', 'o c4', 'zire', 'cent', 'Sumo', 'cab',
       't xe', 'EV2', 'r...', 'zest'], dtype=object)

In [72]:
car['Price'].unique().sum()

'80,0004,25,000Ask For Price3,25,0005,75,0001,75,0001,90,0008,30,0002,50,0001,82,0003,15,0004,15,0003,20,00010,00,0005,00,0003,50,0001,60,0003,10,00075,0001,00,0002,90,00095,0001,80,0003,85,0001,05,0006,50,0006,89,9994,48,0005,49,0005,01,0004,89,9992,80,0003,49,9992,84,9993,45,0004,99,9992,35,0002,49,99914,75,0003,95,0002,20,0001,70,00085,0002,00,0005,70,0001,10,0004,48,99918,91,1111,59,5003,44,9994,49,9998,65,0006,99,0003,75,0002,24,99912,00,0001,95,0003,51,0002,40,00090,0001,55,0006,00,0001,89,5002,10,0003,90,0001,35,00016,00,0007,01,0002,65,0005,25,0003,72,0006,35,0005,50,0004,85,0003,29,5002,51,1115,69,99969,9992,99,9993,99,9994,50,0002,70,0001,58,4001,79,0001,25,0002,99,0001,50,0002,75,0002,85,0003,40,00070,0002,89,9998,49,9997,49,9992,74,9999,84,9995,99,9992,44,9994,74,9992,45,0001,69,5003,70,0001,68,0001,45,00098,5002,09,0001,85,0009,00,0006,99,9991,99,9995,44,9991,99,0005,40,00049,0007,00,00055,0008,95,0003,55,0005,65,0003,65,00040,0004,00,0003,30,0005,80,0003,79,0002,19,0005,19,0007,30,00020,00,00021,00,00014,00,0003,11,0008,55,0005,35,0001,78,0003,00,0002,55,0005,49,9993,80,00057,0004,10,0002,25,0001,20,00059,0005,99,0006,75,00072,5006,10,0002,30,0005,20,0005,24,9994,24,9996,44,9995,84,9997,99,9994,44,9996,49,9999,44,9995,74,9993,74,9991,30,0004,01,00013,50,0001,74,9992,39,99999,9993,24,99910,74,99911,30,0001,49,0007,70,00030,0003,35,0003,99,00065,0001,69,9991,65,0005,60,0009,50,0007,15,00045,0009,40,0001,55,55515,00,0004,95,0008,00,00012,99,0005,30,00014,99,00032,0004,05,0007,60,0007,50,0004,19,0001,40,00015,40,0001,23,0004,98,0004,80,0004,88,00015,25,0005,48,9007,25,00099,00052,00028,00,0004,99,0003,81,0002,78,0006,90,0002,60,00090,0011,15,00015,99,0001,59,00051,9992,15,00035,00011,50,0002,69,00060,0004,30,00085,00,0034,01,9194,90,0004,24,0002,05,0005,49,9003,71,5004,35,0001,89,7003,89,7003,60,0002,95,0001,14,99010,65,0004,70,00048,0001,88,0004,65,0001,79,99921,90,00023,90,00010,75,0004,75,00010,25,0006,15,00019,00,00014,90,00015,10,00018,50,0007,90,00017,25,00012,25,00068,0009,70,00031,00,0008,99,00088,00053,0005,68,50071,0005,90,0007,95,00042,0001,89,0001,62,00035,99929,00,00039,99950,5005,10,0008,60,0005,00,001'

In [73]:
backup = car.copy()

In [74]:
car = car[car['year'].str.isnumeric()]

In [75]:
car['year'] = car['year'].astype(int)

In [76]:
car['Price']

0             80,000
1           4,25,000
2      Ask For Price
3           3,25,000
4           5,75,000
           ...
886         3,00,000
888         2,60,000
889         3,90,000
890         1,80,000
891         1,60,000
Name: Price, Length: 842, dtype: object

In [77]:
car = car[car['Price'] !="Ask For Price"]

In [78]:
car['Price'] = car['Price'].str.replace(',','').astype(int)

In [79]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Index: 819 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        819 non-null    object
 1   company     819 non-null    object
 2   year        819 non-null    int32
 3   Price       819 non-null    int32
 4   kms_driven  819 non-null    object
 5   fuel_type   816 non-null    object
dtypes: int32(2), object(4)
memory usage: 38.4+ KB

In [80]:
car['kms_driven'] = car['kms_driven'].str.replace('kms','')

In [81]:
car['kms_driven'] = car['kms_driven'].str.replace(',','')

In [85]:
car['kms_driven'] = car['kms_driven'].replace('Petrol','0').astype(int)

In [86]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Index: 819 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        819 non-null    object
 1   company     819 non-null    object
 2   year        819 non-null    int32
 3   Price       819 non-null    int32
 4   kms_driven  819 non-null    int32
 5   fuel_type   816 non-null    object
dtypes: int32(3), object(3)
memory usage: 35.2+ KB

In [87]:
car = car[~car['fuel_type'].isna()]

In [92]:
car['name'].str.split(' ').str.slice(0,3).str.join(' ')

0         Hyundai Santro Xing
1         Mahindra Jeep CL550
3           Hyundai Grand i10
4      Ford EcoSport Titanium
6                   Ford Figo
                ...
883        Maruti Suzuki Ritz
885            Tata Indica V2
886      Toyota Corolla Altis
888              Tata Zest XM
889        Mahindra Quanto C8
Name: name, Length: 816, dtype: object

In [93]:
car = car.reset_index(drop=True)

In [94]:
car.describe()

              year         Price     kms_driven
count   816.000000  8.160000e+02     816.000000
mean   2012.444853  4.117176e+05   46275.531863
std       4.002992  4.751844e+05   34297.428044
min    1995.000000  3.000000e+04       0.000000
25%    2010.000000  1.750000e+05   27000.000000
50%    2013.000000  2.999990e+05   41000.000000
75%    2015.000000  4.912500e+05   56818.500000
max    2019.000000  8.500003e+06  400000.000000

In [96]:
car = car[car['Price']<6e6].reset_index(drop=True)

In [113]:
car.to_csv('Cleaned Car.csv')

In [114]:
x = car.drop(columns=['Price'])
y= car['Price']

In [115]:
from sklearn.model_selection import train_test_split
x_train, x_test , y_train, y_test = train_test_split(x,y,test_size=0.2)

In [116]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

In [117]:
x.columns

Index(['name', 'company', 'year', 'kms_driven', 'fuel_type'], dtype='object')

In [118]:
ohe = OneHotEncoder()
ohe.fit(x[['name', 'company', 'fuel_type']])

OneHotEncoder()

In [124]:
column_trans = make_column_transformer((OneHotEncoder(categories=ohe.categories_),['name', 'company', 'fuel_type']),remainder='passthrough')

In [125]:
lr = LinearRegression()

In [126]:
pipe = make_pipeline(column_trans,lr)

In [127]:
pipe.fit(x_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Audi A3 Cabriolet 40 TFSI',
       'Audi A4 1.8 TFSI Multitronic Premium Plus',
       'Audi A4 2.0 TDI 177bhp Premium', 'Audi A6 2.0 TDI Premium',
       'Audi A8', 'Audi Q3 2.0 TDI quattro Premium',
       'Audi Q5 2.0 TDI quattro Premium Plus', 'Audi Q7',
       'BMW 3 Series 320d...
                                                                            array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                                            array(['Diesel', 'LPG', 'Petrol'], dtype=object)]),
                                                  ['name', 'company',
                                                   'fuel_type'])])),
                ('linearregression', LinearRegression())])

In [128]:
y_pred = pipe.predict(x_test)

In [130]:
r2_score(y_test,y_pred)

0.6672792393998529

In [145]:
scores = [] 
for i in range(1000):
    x_train, x_test , y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=i)
    lr=LinearRegression()
    pipe=make_pipeline(column_trans,lr)
    pipe.fit(x_train,y_train)
    y_pred = pipe.predict(x_test)
    scores.append(r2_score(y_test,y_pred))

In [146]:
import numpy as np

In [147]:
np.argmax(scores)

433

In [148]:
scores[np.argmax(scores)]

0.8281065233173442

In [149]:
x_train, x_test , y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=np.argmax(scores))
lr=LinearRegression()
pipe=make_pipeline(column_trans,lr)
pipe.fit(x_train,y_train)
y_pred = pipe.predict(x_test)
r2_score(y_test,y_pred)

0.8281065233173442

In [150]:
import pickle

In [153]:
pickle.dump(pipe,open('LinearRegressionModel.pkl','wb'))

In [157]:
pipe.predict(pd.DataFrame([['Maruti Suzuki Alto 800 Vxi','Mahindra',2006,40,'Diesel']],columns=['name','company','year','kms_driven','fuel_type']))

array([246653.19740874])